<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dreammaker.android.expensetracker">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- START: activities for backup and restore -->

        <activity android:name=".ui.settings.BackupRestoreActivity"
            android:label="@string/title_app_data"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <!-- END: activities for backup and restore -->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- START: app settings -->

        <activity
            android:name="dreammaker.android.expensetracker.ui.settings.AppSettingsActivity"
            android:label="@string/title_app_settings"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <!-- START: app settings -->

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"/>
    </application>

</manifest>